.flash-messages {
  min-height: 136px;
  padding: 36px 48px;
}

.section:first-of-type {
  padding-top: 0;
}

.view-title {

  .edit {
    text-align: left;

    @include from($tablet) {
      text-align: right;
    }
  }

}
