.navbar {

  .logo {
    margin-right: 1.5rem;
  }

  .logo img {
    margin-bottom: .4rem;
    margin-right: .65rem;
    max-height: 4rem;
  }

  .navbar-item i {
    color: $link;
    margin-right: 6px;
  }

}
