// Fonts -----------------------------------------------------------------------

@font-face {
  font-family: "deutsch";
  src: font-url("Deutsch.ttf");
}


// Colors ----------------------------------------------------------------------

@import "colors";

$primary: $gold;
$link:    $blue;
$info:    $blue-light;
$success: $green;
$warning: $yellow;
$danger:  $red;
$dark:    $grey-darker;
$text:    $grey-dark;

$light:   $grey-lighter;


// Titles ----------------------------------------------------------------------

$title-family: "deutsch";
$title-weight: normal;
$title-color: $blue-dark;

.title {
  word-spacing: -.25em;
}


// Misc ------------------------------------------------------------------------

.container.standard-width {
  max-width: 1152px;
}

.container.half-width {
  max-width: 576px;
}


// Partials --------------------------------------------------------------------

@import "devise";
@import "forms";
