@import "colors";
@import "fonts";

$primary: $gold;
$link:    $blue;
$info:    $blue-light;
$success: $green;
$warning: $gold-light;
$danger:  $red;
$dark:    $grey-darker;
$text:    $grey-dark;

$light:   $grey-lighter;

@import "devise";
@import "forms";
@import "notifications";
